.img-size {
    width: 45px;
    height: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p-box {
    border: 2px solid #0c6efd75;
    background-color: #ecf0f1;
    padding: 0 20px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}