{% extends 'layout/layout_setup.html' %}
{% block title %}User Roles{% endblock %}

{% block heading %}User Roles{% endblock %}

{% block form_title %}Add Role{% endblock %}
{% block hidden_id %}role_id{% endblock %}
{% block form_content %}
<div class="col-lg-6 col-12 form-floating mb-3 mx-auto ps-0">
    <input type="text" class="form-control" id="role_name" placeholder="Role Name" required />
    <label for="role_name" class="ps-4"><i class="fab fa-product-hunt"></i>&nbsp;&nbsp; Role Name</label>
</div>
{% endblock %}

{% block list_title %}User Roles List{% endblock %}
{% block table_header %}
<tr>
    <th>No</th>
    <th>Role Name</th>
    <th>Action</th>
</tr>
{% endblock %}
{% block table_footer %}
<tr>
    <th>No</th>
    <th>Role Name</th>
    <th>Action</th>
</tr>
{% endblock %}
{% block table_body %}{% endblock %}

{% block js %}
<script type="module" src="{{ url_for('static', filename='js/role.js') }}"></script>
{% endblock %}