<!DOCTYPE html>
<html lang="english">

<head>
  <title>404 - Not Found</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  {% include 'layout/head.html' %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/404.css') }}">
</head>

<body>
  <div class="not-found-container">
    <h3>OOPS! PAGE NOT FOUND</h3>
    <div class="not-found-container1">
      <h1 class="not-found-text1">404</h1>
    </div>
    <div class="not-found-container2">
      <h2 class="not-found-text2">
        WE ARE SORRY, BUT THE PAGE YOU REQUESTED WAS NOT FOUND
      </h2>
    </div>
  </div>
  </div>
</body>

</html>