{% extends 'layout/base_layout.html' %}

{% block add_form_content %}
<div class="row">
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <form id="form">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4" id="formTitle">{% block form_title %}{% endblock %}</h1>
                            <input type="hidden" id="{% block hidden_id %}{% endblock %}" value="">
                        </div>
                        <div class="row">
                            {% block form_content %}{% endblock %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-success">SUBMIT</button>
                                <input type="reset" class="btn btn-outline-secondary" id="btnClear" value="CLEAR">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}